.footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-top: 1px solid var(--border-color);
  border-top: 1px solid black;
}

.footer_content {
  padding: 1rem 2rem;
  text-align: center;
  font-size: 0.9rem;

  .links {
    margin-top: 0.5rem;

    a {
      margin: 0 0.5rem;
      color: var(--text-color);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
