@use "./styles/variables.scss" as *;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);

  &.modal-open {
    overflow: hidden;
    &::after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 1;
      opacity: 1;
      pointer-events: none;
      transition: opacity 0.3s ease;
    }
  }
}
